*.swp
*.exe
*.out
*.dll
*.a
exc-*
src/susserver
src/susclient
src/clients/rust-gui/target
util/susrust/target
src/.vscode
.vscode
cmake-build-debug
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
*.cbp
CMakeScripts
compile_commands.json
SFML
cmake-build-debug
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
*.cbp
CMakeScripts
compile_commands.json
SFML
